<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://musicmasterscompanion.mysql.database.azure.com:3306/mmc_db?useSSL=true&amp;requireSSL=false</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">admin_music@musicmasterscompanion</property>
    <property name="connection.password">Master2022.</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

    <mapping class="com.example.mmc.model.AccompanistEntity"/>
    <mapping class="com.example.mmc.model.InstrumentEntity"/>
    <mapping class="com.example.mmc.model.StudentEntity"/>
    <mapping class="com.example.mmc.model.TeacherEntity"/>

  </session-factory>
</hibernate-configuration>