<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/mmc_db?</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.username">root</property>
      <property name="connection.password">1234</property>

    <mapping class="com.example.mmc.Model.AccompanistEntity"/>
      <mapping class="com.example.mmc.Model.InstrumentsEntity"/>
      <mapping class="com.example.mmc.Model.StudentsEntity"/>
      <mapping class="com.example.mmc.Model.TeachersEntity"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>